.cImage {
    position: relative;
    top: 0;
    left: 0;
}

.cCropArea {
    position: absolute;
    top: 0px;
    left: 0px;
}

input[type="number"] {
    width: 64px !important;
}

input[type="file"]::after{
    background-color:red;
}